h1 {
  font-weight: 300;
}

h2 {
  color: #9397d8;
  font-size: 22px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
}

.races-list {
  margin-top: 20px;
}

.card {
  background: #24262c;
}

.price-total {
  background: #9179b7;
  float: right;
  padding: 20px 50px;
  text-transform: uppercase;

  h3 {
    font-size: 18px;
    margin-right: 60px;
    font-weight: 300;
  }

  h3, p {
    display: inline-block;
    margin: 0;
  }

  p {
    color: #362751;
    font-size: 18px;
  }
}

.button-cancel{
  background: none;
  border: 0;
  color: #fd79fc;
  text-decoration: underline;
  width: 120px;
}


