@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=cyrillic');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#0d263c,#030714) no-repeat fixed;
  color: #ffffff;
  height: 100%;
}

h1 {
  color: #66d9f7;
}

button {
  background: #fd79fc;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  width: 120px;
}
