<div class="row race">
  <div class="col-sm-12 race-info">
    <a href="#">
          <span class="pull-left">
            <img class="img-responsive" [src]="race.image" [alt]="race.imageDescription">
          </span>
      <div class="pull-left full-info">
        <h3>{{ race.name }}</h3>
        <p class="date">{{race.date | date:'d MMM y'}} <i class="fa fa-clock-o"></i>{{race.date | date:'HH:mm'}}</p>
        <p class="description">{{race.about}}</p>
      </div>
      <div class="pull-right enrolment">
        <h3 class="price text-center">{{race.entryFee | currency:'USD':true }}</h3>
        <button *ngIf="!race.isRacing" class="btn btn-sm">Enter Race</button>
        <p *ngIf="race.isRacing" class="status">Racing</p>
      </div>
    </a>
  </div>
</div>
