.race {
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
  }
}

.race-info {
  h3 {
    font-weight: 300;
  }

  img {
    max-height: 130px;
  }

  .full-info {
    margin-left: 20px;
  }

  .enrolment {
    margin-right: 20px;
  }

  .date, .price {
    color: #9397d8;
  }

  .date {
    font-size: 16px;
  }

  .description {
    font-size: 16px;
    color: #66d9f7;
  }

  .status {
    color: #fd79fc;
    text-align: center;
  }
}
