h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.date, .price {
    color: #9397d8;
}

.description {
    color: #66d9f7;
}

.photo {
    float: left;
    margin-right: 30px;
}

.button-cancel[_ngcontent-bdh-2] {
    background: none;
    border: 0;
    color: #fd79fc;
    text-decoration: underline;
    width: 120px;
}

.status[_ngcontent-bdh-2] {
    color: #fd79fc;
    text-align: center;
}