h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.race {
}

.race-image {
    position: relative;
    width: auto;
}

.race-info {

}

.race-info h3 {
    font-weight: 300;
}

.date, .price {
    color: #9397d8;
}

.date {
    font-size: 16px;
}

.description {
    font-size: 16px;
    color: #66d9f7;
}

.photo {
    float: left;
}

.button-cancel{
    background: none;
    border: 0;
    color: #fd79fc;
    text-decoration: underline;
    width: 120px;
}

.status {
    color: #fd79fc;
    text-align: center;
}