
<div class="container">
    <div class="heading">
        <h1>{{title}}</h1>
    </div>
    <div class="navbar">
        <div class="collapse navbar-collapse navbar-right container">
            <ul class="nav navbar-nav">
                <li *ngFor="#item of menu" class.active="item.active">
                    <a href="#" [innerHTML]="item.title"></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="race-content">
        <race-list></race-list>
    </div>
</div>


