<div class="profile">
    <div class="row">
        <div class="col-sm-6">
            <div class="photo pull-left"><i class="fa fa-user"></i></div>
            <div class="summary">
                <h3>
                    <span>{{driver.nickname}}</span>
                </h3>
            </div>
        </div>
        <div class="col-sm-6 right-panel">
            <div class="summary">
                <h4>
                    <span class="pull-right"><i class="fa fa-money"></i> {{totalPenalty | number}}</span>
                    <span class="pull-right">
                        <a class="car" routerLink="/garage">
                            <i class="fa fa-car"> {{driver.carsCount}}</i>
                        </a>
                    </span>
                    <span class="pull-right"><i class="fa fa-star"></i> {{driver.rating}}</span>
                    <span class="pull-right"><i class="fa fa-usd"></i> {{driver.cache | number}}</span>

                </h4>
            </div>
        </div>


    </div>



</div>
