@import '~sass/variables';
@import '~sass/extends';
@import '~sass/mixins';

.mat-toolbar {
  background: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;

  .heading {
    @extend %shadowed-text;

    font-weight: 300;
    text-transform: uppercase;
    color: $skyBlue;

    a {
      @include animation(neonHead 1.5s ease-in-out infinite alternate);

      font-size: 20px;
      background-color: transparent;
    }
  }

  .navigation-items {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 14px;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $skyBlue;
    font-size: 16px;
    font-weight: 300;

    &:hover {
      @include animation(neonItem 1.5s ease-in-out infinite alternate);

      color: $pureWhite;
      background-color: transparent;
    }
    &:active {
      color: $glamPink;
      background-color: transparent;
    }

    mat-icon {
      font-size: 18px;
      margin-top: 10px;
    }
  }
}

@include keyframes(neonHead) {
  from {
    text-shadow: 0 0 10px $shadowPurple, 0 0 14px $shadowPurple, 0 0 20px $shadowPurple, 0 0 30px $skyBlue, 0 0 40px $skyBlue;
  }
  to {
    text-shadow: 0 0 5px $shadowPurple, 0 0 7px $shadowPurple, 0 0 10px $shadowPurple, 0 0 15px $skyBlue, 0 0 20px $skyBlue;
  }
}

@include keyframes(neonItem) {
  from {
    text-shadow: 0 0 10px $pureWhite, 0 0 14px $pureWhite, 0 0 20px $pureWhite, 0 0 30px $shadowPurple, 0 0 40px $shadowPurple;
  }
  to {
    text-shadow: 0 0 5px $pureWhite, 0 0 7px $pureWhite, 0 0 10px $pureWhite, 0 0 15px $shadowPurple, 0 0 20px $shadowPurple;
  }
}
